<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="icon" href="../favicon.png" type="image/png">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav>
            <h1>
                <img src="../logo1.jpg" alt="Los Zapatitos" srcset=""
                height="150px">

            </h1>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="actual">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Ubicación</h1>
            <p>Nos podrás encontrar en:<br>C/ Barcelona 4<br>28937<br>Móstoles (Madrid)</p>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.818046703923!2d-3.861920724626662!3d40.32419556126715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418c29991ae2a1%3A0x831c1bbab16b1372!2sC.%20Barcelona%2C%204%2C%2028937%20M%C3%B3stoles%2C%20Madrid!5e0!3m2!1ses-419!2ses!4v1708719795774!5m2!1ses-419!2ses" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            </div>
        </section>
    </main>
    <footer>
        <div class="redes-sociales">
            <a class="social-link" href="https://www.facebook.com/LosZapatitos23" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
                
            <a class="social-link" href="https://twitter.com/LosZapatitos23" target="_blank">
                <i class="fab fa-x"></i> 
            </a>
                
            <a class="social-link" href="https://www.instagram.com/LosZapatitos23" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        
        <div class="aviso-legal">
            <p>Este aviso legal se rige por la legislación española.</p>
            <p>Los Zapatitos - Todos los derechos reservados -</p>
        </div>
    </footer>
</body>
</html>
